.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px 10px 10px;
  margin-bottom: 0px;
  overflow: hidden;
  font-family: 'Nunito', serif;
}

.brands h1 {
  font-family: 'Roboto', serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
}


/* Brand Name and Logo */
.brand-heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;

  border-bottom: 2px solid #6ec76b;

  width: 280px;
  margin-bottom: 20px;
}

.brand-logo {
  width: 260px;
}


.brand-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid #6ec76b;

  width: 290px;
  margin-bottom: 15px;
}

.brand-rating-p {

  font-size: 12px;
  text-align: center;
}

/* Brand Country */
.brand-country {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 26px;

  border-bottom: 2px solid #6ec76b;

  width: 290px;
  margin-bottom: 15px;
}

.brand-country-p {
  text-align: center;

  font-size: 14px;

  width: 260px;
}

.brand-country-flag {
  border: 1px solid #727272;
}


/* Brand Ethical */
.brand-ethical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #6ec76b;

  width: 290px;
  margin-bottom: 15px;
}

.brand-ethical h4 {
  font-size: 18px;
  color: rgb(112, 112, 112);
}

.brand-ethical p {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #52974f;
  width: 270px;
}