/* Brand Info */
.brands .brand-info-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;

    /* border-top: 1px solid #6ec76b; */
    border-bottom: 2px solid #6ec76b;

    width: 280px;
    margin-bottom: 15px;
}

.brands .brand-logo-menu {
    width: 260px;
}

    