.extension-menu {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.extension-menu h1{
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 24px;
 }

.extension-menu h2{
   font-family: 'Nunito';
   font-size: 16px;
   color: rgb(112, 112, 112);
      margin-bottom: 8px;

    
}

.extension-menu p{
    font-family: 'Nunito';
    font-size: 15px;
    line-height: 22px;
    color: #52974f;
    width: 270px;
     
 }

    